<h1 class="fontclr fontFam">Admin Login Page</h1>

<form action="/admin/adminHome" method="post">
    <div class="row my-3">
        <label for="Username" class="col-md-1 col-form-label fontclr">Username</label>
        <div class="col-md-3">
            <input type="text" name="username" class="form-control" id="Username" required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Password" class="col-md-1 col-form-label fontclr">Password</label>
        <div class="col-md-3">
            <input type="password" name="password" class="form-control" id="Password">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
    {{#each item}}
    <div class="alert alert-dark my-3 col-md-4" role="alert">
        {{message}}
    </div>
    {{/each}}
</form>