<div class="d-flex justify-content-between mb-3" style="display: flex; flex-direction: column">
    <h1 class="fontclr fontFam">{{title}}</h1>
    <form action="/logout" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
<p class="fontclr">Hi {{name}},</p>
<p class="fontclr">Your data : {{data}}</p>