<h1 class="fontclr fontFam">Signup Page</h1>

<form action="/signup" method="post">
    <div class="row my-3">
        <label for="name" class="col-md-1 col-form-label fontclr">Name</label>
        <div class="col-md-3">
            <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="col-md-4 fontclr" role="alert">
            {{nameMsg}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="data" class="col-md-1 col-form-label fontclr">Data</label>
        <div class="col-md-3">
            <textarea type="text" id="data" class="form-control" name="data"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label for="newUsername" class="col-md-1 col-form-label fontclr">Username</label>
        <div class="col-md-3">
            <input type="text" name="username" class="form-control" id="newUsername">
        </div>
        <div class="col-md-4 fontclr" role="alert">
            {{usernameMsg}}
        </div>
    </div>

    <div class="row mb-3">
        <label for="Password" class="col-md-1 col-form-label fontclr">Password</label>
        <div class="col-md-3">
            <input type="password" name="password" class="form-control" id="newPassword">
        </div>
        <div class="col-md-4 fontclr" role="alert">
            {{pwdMsg}}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create account</button>
</form>